.__form {
  background: rgb(1, 0, 10);
  background: linear-gradient(
    180deg,
    rgba(1, 0, 10, 1) 0%,
    rgba(1, 0, 05, 1) 50%,
    rgba(1, 0, 02, 1) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    
    &__titulo {
      color: white;
      font-family: 'Courier New', Courier, monospace;
    }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    gap: 20px;
    height: 500px;
  }

  &__caja1 {
    background-color: lightblue;

    width: 500px;
    height: 40px;
    font-size: 17px;
  }

  &__textarea {
      background-color: lightblue;
    width: 500px;
    height: 150px;
    font-size: 17px;

  }
  
  &__enviar {
     font-family:'Courier New', Courier, monospace; 
    width: 160px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    &:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
  }

}
.__agradecimiento {
  background: rgb(1, 0, 10);
  background: linear-gradient(
    180deg,
    rgba(1, 0, 10, 1) 0%,
    rgba(1, 0, 05, 1) 50%,
    rgba(1, 0, 02, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 10px;
  }
  &__img {
    width: 500px;
  }
  &__titulo {
    color: #5b46de;
    text-align: center;
    font-family: "Arvo", serif;
    width: 550px;
  }
}
